git+https://github.com/huggingface/diffusers@main#egg=diffusers
transformers
accelerate
huggingface_hub

torch>=1.13

scipy # LMSDiscreteScheduler

stability-sdk==0.2.6 # DreamStudio

opencolorio # color management