name: Package Release
on:
  push:
    branches:
      - "releases/**"
  workflow_dispatch:

# This is complicated without native ARM runners. For now, macOS builds can be deployed manually.
# jobs:
#   darwin-arm64:
#     runs-on: macos-12
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v3
#         with:
#           submodules: recursive
#       - name: Setup Python
#         uses: actions/setup-python@v4
#         with:
#           python-version: '3.10'
#       - name: Install dependencies into target
#         run: 'pip install -r requirements-mac-MPS-CPU.txt --no-cache-dir --target ../.python_dependencies'
#         working-directory: stable_diffusion
#       - name: Archive and upload artifact
#         uses: actions/upload-artifact@v3
#         with:
#           name: dream_textures-darwin-arm64
#           path: ${{ github.workspace }}

jobs:
  windows-cuda:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: dream_textures
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies into target
        shell: bash
        run: 'python -m pip install -r requirements/win-linux-cuda.txt --no-cache-dir --target .python_dependencies'
        working-directory: dream_textures
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: dream_textures-windows-cuda.zip
          exclusions: '*.git*'
      - name: Archive and upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: dream_textures-windows-cuda
          path: dream_textures-windows-cuda.zip
  windows-directml:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: dream_textures
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies into target
        shell: bash
        run: 'python -m pip install -r requirements/win-dml.txt --no-cache-dir --target .python_dependencies'
        working-directory: dream_textures
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: dream_textures-windows-directml.zip
          exclusions: '*.git*'
      - name: Archive and upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: dream_textures-windows-directml
          path: dream_textures-windows-directml.zip
  windows-dreamstudio:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: dream_textures
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies into target
        shell: bash
        run: 'python -m pip install -r requirements/dreamstudio.txt --no-cache-dir --target .python_dependencies'
        working-directory: dream_textures
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: dream_textures-windows-dreamstudio.zip
          exclusions: '*.git*'
      - name: Archive and upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: dream_textures-windows-dreamstudio
          path: dream_textures-windows-dreamstudio.zip
  # No universal wheels for grpcio means we need separate macOS installations for Intel/ARM.
  # GitHub Actions does not have Apple Silicon runners, so that build still needs to be created manually.
  macos-intel-dreamstudio:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: dream_textures
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies into target
        shell: bash
        run: 'python -m pip install -r requirements/dreamstudio.txt --no-cache-dir --target .python_dependencies'
        working-directory: dream_textures
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: zip
          filename: dream_textures-macos-intel-dreamstudio.zip
          exclusions: '*.git*'
      - name: Archive and upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: dream_textures-macos-intel-dreamstudio
          path: dream_textures-macos-intel-dreamstudio.zip
